
.img-uploader{

  .uploader-item{
    height: 100px;
    min-width: 100px;
    max-width:200px;
    border: 1px solid #a8a8a8;
    position: relative;
    display: inline-block;
    margin:2px;
    text-align: center;
    float: left;
    .uploader-img{
      img{
        height: 98px;
      }
    }
    .uploader-close{
      position: absolute;
      top:8px;
      right:10px;
      color: #ee5058;
    }
    &.uploader-add{
      font-size:25px;
      width:100px;
      cursor:pointer;
      line-height: 100px;
    }

  }



}