@charset "UTF-8";
@import "app.mixin";

@-webkit-keyframes grid-loading {
  0%{
    transform: rotate(0deg);
  }

  25%{
    transform: rotate(90deg);
  }

  50%{
    transform: rotate(180deg);
  }

  75%{
    transform: rotate(270deg);
  }

  100%{
    transform: rotate(360deg);
  }
}

@-moz-keyframes grid-loading {
  0%{
    transform: rotate(0deg);
  }

  25%{
    transform: rotate(90deg);
  }

  50%{
    transform: rotate(180deg);
  }

  75%{
    transform: rotate(270deg);
  }

  100%{
    transform: rotate(360deg);
  }
}

@-o-keyframes grid-loading {
  0%{
    transform: rotate(0deg);
  }

  25%{
    transform: rotate(90deg);
  }

  50%{
    transform: rotate(180deg);
  }

  75%{
    transform: rotate(270deg);
  }

  100%{
    transform: rotate(360deg);
  }
}

@keyframes grid-loading {
  0%{
    transform: rotate(0deg);
  }

  25%{
    transform: rotate(90deg);
  }

  50%{
    transform: rotate(180deg);
  }

  75%{
    transform: rotate(270deg);
  }

  100%{
    transform: rotate(360deg);
  }
}

.sd-grid{
  width: 100%;

  table{
    width: 100%;

    .grid-loading{
      line-height:400px;
      height:400px;
      i{
        font-size: 34px;
        font-weight: normal;
        -webkit-animation:grid-loading linear 1s infinite ;
        -moz-animation:grid-loading linear 1s infinite ;
        -ms-animation:grid-loading linear 1s infinite ;
        -o-animation:grid-loading linear 1s infinite ;
        animation:grid-loading linear 1s infinite ;
      }
    }

    tr{
      &.grid-odd {
        background-color: #fff;
      }
      &.grid-even{
        background-color: #ddd;
      }
    }

    &.grid-link tbody tr{
      cursor: pointer;
      &:hover{
        background:#d0dbde;
      }
    }

    .grid-foot,li{
      list-style: none;
    }

    .grid-foot{
      li{
        display: inline-block;
      }
      .active{
        color:#fff;
        background-color: #0ef9f8;
        border-color: #0ed6ff;
      }
      .disable,.disable:hover,.disable:focus{
        color: rgba(0, 0, 0, 0.2);
        background-color: rgba(0, 0, 0, 0.2);
        border-color: rgba(0, 0, 0, 0.1);
        cursor: default;
      }
    }


  }







}