@charset "UTF-8";

.sd-grid{
  width: 100%;
  overflow: hidden;
  table,tr,td,th{
    border-collapse: collapse;
  }

  table{
    width: 100%;
    table-layout: fixed;

    .grid-loading{
      line-height:800px;
      height:800px;
      img{
        height: 34px;
        width: 34px;
      }
    }

    tr{
      &.grid-odd {

      }
      &.grid-even{

      }
    }

    .grid-link tr{
      cursor: pointer;
      &:hover{
        background:#d0dbde;
      }
    }

    .grid-foot{
      height: 30px;
      background: #ffffff;
      line-height: 30px;
      float: right;
      font-size: 12px;
      color: #00cccb;
      margin-right: 20px;
      display: inline-block;
      .count{
        display: inline-block;
        float:left;
        margin-top:4px;
      }
      .count-tip{
        margin-right: 10px;
        font-size: 14px;
        display:block;
        float:left;
      }
      .pages{
        display: inline-block;
      }
      .page,.next,.previous{
        border: 1px solid #ccc;
        background: #ffffff;
        color: #00cccb;
        text-decoration: none;
        margin: 0 3px;
        font-size: 12px;
        padding: 2px 8px;
        display:block;
        float:left;
        line-height:20px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;
        -ms-border-radius: 5px;
      }
      .more{
        float: left;
      }
      .page.active,.page:hover{
        background: #00cccb;
        color: #fff;
        text-decoration: none;
        margin: 0 3px;
      }
      .disable{
        color: rgba(0, 0, 0, 0.2);
        cursor: default;
        border: 1px solid #ccc;
        text-decoration: none;
        margin: 0 3px;
        font-size: 12px;
        padding: 2px 8px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;
        -ms-border-radius: 5px;
      }
    }


  }







}