@charset "UTF-8";
@import "app.mixin";

@-webkit-keyframes grid-loading {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-moz-keyframes grid-loading {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-o-keyframes grid-loading {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes grid-loading {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.sd-grid {
  width: 100%;

  table {
    width: 100%;

    .grid-loading {
      line-height: 400px;
      height: 400px;
      i {
        font-size: 34px;
        font-weight: normal;
        -webkit-animation: grid-loading linear 1s infinite;
        -moz-animation: grid-loading linear 1s infinite;
        -ms-animation: grid-loading linear 1s infinite;
        -o-animation: grid-loading linear 1s infinite;
        animation: grid-loading linear 1s infinite;
      }
    }

    tr {
      &.grid-odd {
        background-color: #fff;
      }
      &.grid-even {
        background-color: #ddd;
      }
    }

    &.grid-link tbody tr {
      cursor: pointer;
      &:hover {
        background: #d0dbde;
      }
    }

    .grid-foot, li {
      list-style: none;
    }

    .grid-foot {
      li {
        display: inline-block;
      }
      .active {
        color: #fff;
        background-color: #0ef9f8;
        border-color: #0ed6ff;
      }
      .disable, .disable:hover, .disable:focus {
        color: rgba(0, 0, 0, 0.2);
        background-color: rgba(0, 0, 0, 0.2);
        border-color: rgba(0, 0, 0, 0.1);
        cursor: default;
      }
    }

  }

  .advanced-search {
    position: relative;
    float: left;
    input {
      font-family: "Source Sans Pro", "微软雅黑";
    }
    .btn-danger {
      @include border-right-radius(50px);
    }
    .search-point {
      margin-left: 20px;
      img {
        margin-top: -6px;
      }
    }
    .search-content-wrapper {
      position: absolute;
      float: left;
      top: 120%;
      left: 0;
      z-index: 10;
    }
    .search-content {
      width: 100%;
      margin-top: -6px;
      overflow: hidden;
      padding: 40px;
      background: #fffbfa;
      border: 1px solid #d9d9d9;
      border-radius: 5px;
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    }

  }

  .advanced-search {

    .form-group {
      .form-label {
        border: 1px solid #9a9a9a;
        height: 35px;
        line-height: 35px;
        border-radius: 3px 0 0 3px;
        -webkit-border-radius: 3px 0 0 3px;
        -moz-border-radius: 3px 0 0 3px;
        -ms-border-radius: 3px 0 0 3px;
        -o-border-radius: 3px 0 0 3px;
      }
      input.form-control {
        height: 35px;
        line-height: 35px;
        border: 1px solid #a9a9a9;
        border-radius: 0 3px 3px 0;
        -webkit-border-radius: 0 3px 3px 0;
        -moz-border-radius: 0 3px 3px 0;
        -ms-border-radius: 0 3px 3px 0;
        -o-border-radius: 0 3px 3px 0;
      }
      .form-select {
        border: 1px dashed #a9a9a9;
        .select-item {
          text-decoration: none;
          color: #464646;
          margin: 5px;
          font-size: 12px;
          padding: 1px 10px;
          border: 1px solid #9a9a9a;
          border-radius: 15px;
          display: inline-block;
          -webkit-border-radius: 15px;
          -moz-border-radius: 15px;
          -ms-border-radius: 15px;
          -o-border-radius: 15px;
          &.active {
            background: #00cccb;
            color: #fff;
          }
        }
      }
    }

  }

}