<div ng-controller="SysRoleCtrl">
  <div class="content-body animated fadeInUp">
    <div class="wrapper-sm p-l-sm p-r-sm p-b-n">
      <ol class="breadcrumb row text-xs m-b-xs">
        <span><i class="fa fa-circle-o p-r-xs"></i>当前位置：</span>
        <li>系统管理</li>
        <li>角色管理</li>
      </ol>
    </div>
    <div class="col">
      <div sd-grid="option" class="sd-grid wrapper-md panel panel-default">
        <div class="panel-heading">
          <h1 class="h3">角色管理</h1>
        </div>
        <div class="panel-body b-b b-light">
          <input ng-model="$grid.keyword" type="text" class="grid-search-input form-control input-sm w-sm inline m-r"/>
          <a href="javascript:;" class="btn btn-primary">搜索</a>
          <div class="pull-right">
            <a href="javascript:;" ui-sref="app.sys.roleAdd" class="btn btn-primary">添加</a>
          </div>
        
        </div>
        <div>
          <table class="table m-b-none grid-link">
            <thead>
            <tr>
              <th class="text-center" grid-hide="md">序号</th>
              <th class="text-center" grid-toggle="true">角色名</th>
              <th class="text-center">链接(ui-sref)</th>
              <th class="text-center" grid-hide="xs">操作时间</th>
              <th class="text-center">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in $grid.rows" ng-class="{'grid-even':$even,'grid-odd':$odd}">
              <td>{{$index + 1}}</td>
              <td>{{item.name}}</a></td>
              <td>{{item.uiSref}}</td>
              <td>{{item.operateTime}}</td>
              <td class="text-center">
                <a class="wrapper-xs text-info" href="">编辑</a>|<a class="wrapper-xs text-info" data-toggle="modal"
                                                                  data-target="#myModal" ng-click="auth(item.id)">授权</a>|<a
                  class="wrapper-xs text-info" href="">删除</a>
              </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <td class="text-right">
                <div class="wrapper">
                  <select ng-model="$grid.size" class="pages form-control inline w-xs"
                          style="padding:0 2px 2px 2px;height: 25px;">
                    <option value="1">每页 1 条</option>
                    <option value="2">每页 2 条</option>
                    <option value="5">每页 5 条</option>
                    <option value="20">每页 20 条</option>
                    <option value="30">每页 30 条</option>
                  </select>
                  <ul class="inline grid-foot">
                    <li><a class="btn btn-xs btn-default previous" ng-click="$grid.previous()" href="javascript:;">
                      &lt;</a></li>
                    <li><a class="btn btn-xs btn-default first active" ng-click="$grid.first()"
                           href="javascript:;">1</a></li>
                    <li><a class="btn btn-xs btn-default more more-pre" ng-click="$grid.morePrevious()"
                           href="javascript:;">...</a></li>
                    <li><a class="btn btn-xs btn-default page" ng-click="$grid.go($event)" href="javascript:;">4</a>
                    </li>
                    <li><a class="btn btn-xs btn-default page" ng-click="$grid.go($event)" href="javascript:;">5</a>
                    </li>
                    <li><a class="btn btn-xs btn-default page" ng-click="$grid.go($event)" href="javascript:;">5</a>
                    </li>
                    <li><a class="btn btn-xs btn-default page" ng-click="$grid.go($event)" href="javascript:;">6</a>
                    </li>
                    <li><a class="btn btn-xs btn-default page" ng-click="$grid.go($event)" href="javascript:;">6</a>
                    </li>
                    <li><a class="btn btn-xs btn-default page" ng-click="$grid.go($event)" href="javascript:;">6</a>
                    </li>
                    <li><a class="btn btn-xs btn-default page" ng-click="$grid.go($event)" href="javascript:;">7</a>
                    </li>
                    <li><a class="btn btn-xs btn-default page" ng-click="$grid.go($event)" href="javascript:;">7</a>
                    </li>
                    <li><a class="btn btn-xs btn-default more more-next" ng-click="$grid.moreNext()"
                           href="javascript:;">...</a></li>
                    <li><a class="btn btn-xs btn-default last" ng-click="$grid.last()" href="javascript:;">20</a></li>
                    <li><a class="btn btn-xs btn-default next" ng-click="$grid.next()" href="javascript:;">&gt;</a></li>
                  </ul>
                </div>
              </td>
            </tr>
            </tfoot>
          </table>
        </div>
      
      
      </div>
    
    
    </div>
  
  
  </div>
  
  <!-- Button trigger modal -->
  <button id="authBtn" type="button" class="hide btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal"></button>
  
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" rolePo="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" rolePo="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">角色授权</h4>
        </div>
        <div class="modal-body p-t-lg">
          <h1 class="h5 m-t-none m-b">角色权限列表</h1>
          <div class="row">
            <div class="col-xs-6">
              <input ng-model="keyword" class="form-control input-sm inline w-sm m-r" type="text">
              <a href="javascript:;" ng-click="auth.search()" class="btn btn-primary">搜索已授权</a>
              <div ui-jq="jstree" ui-options="authTreeOption" id="authTree" class="">
              </div>
            </div>
            
            <div class="col-xs-6">
              <input ng-model="allKeyword" class="form-control input-sm inline w-sm m-r" type="text">
              <a href="javascript:;" ng-click="auth.searchAll()" class="btn btn-primary">搜索未授权</a>
              <div ui-jq="jstree" ui-options="treeOption" id="notAuthTree" class="">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" ng-click="auth.add()" class="btn btn-primary">left</button>
            <button type="button" ng-click="auth.remove()" class="btn btn-primary">right</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" ng-click="auth.save()" class="btn btn-primary">保存修改</button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>