<div  ng-controller="SysUserCtrl">
  
  <div class="content-body animated fadeInUp">
    <div class="wrapper-sm p-l-sm p-r-sm p-b-n">
      <ol class="breadcrumb row text-xs m-b-xs">
        <span><i class="fa fa-circle-o p-r-xs"></i>当前位置：</span>
        <li>系统管理</li>
        <li>用户管理</li>
      </ol>
    </div>
    <div class="col">
      <div sd-grid="option" class="sd-grid wrapper-md panel panel-default">
        <div class="panel-heading">
          <h1 class="h3">用户管理</h1>
        </div>
        <div class="panel-body b-b b-light">
          <div class="advanced-search">
            <a href="javascript:void(0);" ng-click="$grid.advanced = !$grid.advanced" class="btn btn-danger">高级搜索</a>
            <div class="search-content-wrapper" style="width: 400px;" ng-show="$grid.advanced">
              <div class="search-point"><img src="img/searchUparrow.png"></div>
              <form class="form-horizontal search-content">
                <div class="form-group p-t-sm">
                  <label for="name" class="form-label text-center col-xs-4">名称</label>
                  <div class="col-xs-8 p-l-n p-r-n m-l-n-xxs">
                    <input id="name" class="form-control" ng-model="$grid.keywords.name" type="text" placeholder="请输入登录名或姓名"/>
                  </div>
                </div>
                <div class="form-group">
                  <label for="department" class="form-label text-center col-xs-4">部门</label>
                  <div class="col-xs-8 p-l-n p-r-n m-l-n-xxs">
                    <input type="hidden" ng-model="$grid.keywords.departmentid"/>
                    <input ng-model="department" id="department" ng-change="checkType()"
                           ui-options="deps" class="form-control content-input" type="text" placeholder="请输入部门名"/>
                  </div>
                </div>
                <div class="form-group" ng-init="">
                  <label class="form-label text-center col-xs-4">部门类型</label>
                  <div class="col-xs-8 p-l-n p-r-n m-l-n-xxs">
                    <div class="form-select">
                      <a href="javascript:void(0);" ng-click="depTypeSel[it.key] = !depTypeSel[it.key]" ng-init="depTypeSel[it.key] = false" ng-class="{active:depTypeSel[it.key]}" class="select-item">为</a>
                      <a href="javascript:void(0);" ng-click="depTypeSel[it.key] = !depTypeSel[it.key]" ng-init="depTypeSel[it.key] = false" ng-class="{active:depTypeSel[it.key]}" class="select-item">类型IAEA</a>
                      <a href="javascript:void(0);" ng-click="depTypeSel[it.key] = !depTypeSel[it.key]" ng-init="depTypeSel[it.key] = false" ng-class="{active:depTypeSel[it.key]}" class="select-item">类玩儿问问型IAEA</a>
                      <a href="javascript:void(0);" ng-click="depTypeSel[it.key] = !depTypeSel[it.key]" ng-init="depTypeSel[it.key] = false" ng-class="{active:depTypeSel[it.key]}" class="select-item">类为型IAEA</a>
                      <a href="javascript:void(0);" ng-click="depTypeSel[it.key] = !depTypeSel[it.key]" ng-init="depTypeSel[it.key] = false" ng-class="{active:depTypeSel[it.key]}" class="select-item">类型额IAEA</a>
                    </div>
                  </div>
                </div>
                <div class="form-group pull-right">
                  <a href="javascript:void(0);" ng-click="advancedSearch()" class="btn btn-primary">搜索</a>
                  <a href="javascript:void(0);" ng-click="$grid.advanced = false" class="btn btn-default">关闭</a>
                </div>
              </form>
            </div>
          </div>
          <input type="text" class="grid-search-input m-l-sm form-control input-sm w-sm inline m-r" placeholder="请输入登录名或姓名"/>
          <a href="javascript:;" class="btn btn-primary">搜索</a>
          <div class="pull-right">
            <a href="javascript:;" ui-sref="app.sys.userAdd" class="btn btn-primary">添加用户</a>
          </div>
        
        </div>
        <div>
          <table class="table m-b-none grid-link">
            <thead>
            <tr>
              <th class="text-center" grid-hide="md">序号</th>
              <th class="text-center" grid-hide="md">ID</th>
              <th class="text-center" grid-toggle="true">菜单名</th>
              <th class="text-center">所属项目</th>
              <th class="text-center" grid-hide="xs">别名</th>
              <th class="text-center" grid-hide="sm">父菜单</th>
              <th class="text-center" grid-hide="sm">显示状态</th>
              <th class="text-center" grid-hide="md">图标</th>
              <th class="text-center" grid-hide="sm">排序</th>
              <th class="text-center" grid-hide="md">注解类</th>
              <th class="text-center" grid-hide="sm">模块</th>
              <th class="text-center" grid-hide="sm">链接(ui-sref)</th>
              <th class="text-center">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in $grid.rows" ng-class="{'grid-even':$even,'grid-odd':$odd}">
              <td>{{item.$index}}</td>
              <td>{{item.uid}}</td>
              <td>{{item.username}}</a></td>
              <td>{{item.realName}}</td>
              <td>{{item.alias}}</td>
              <td>{{item.parentName}}</td>
              <td><span class="label" ng-class="{'bg-success':item.is_show == 1}" title="Active">{{item.is_show == 1 ?'显示':'不显示' }}</span></td>
              <td title="{{item.icon}}">{{item.icon}}</td>
              <td>{{item.order}}</td>
              <td>{{item.class}}</td>
              <td>{{parseModule(item.module)}}</td>
              <td>{{item.ui_sref}}</td>
              <td class="text-center">
                <a class="wrapper-xs text-info" ui-sref="app.sys.funcEdit({id:item.id})">编辑</a>|<a class="wrapper-xs text-info" href="">删除</a>|<a class="wrapper-xs text-info"
                                                                                                                                                  data-toggle="modal"
                                                                                                                                                  data-target="#authPanel"
                                                                                                                                                  ng-click="auth(item.id)">授权</a>
              </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <td class="text-right">
                <div class="wrapper">
                  <select class="pages form-control inline w-xs" style="padding:0 2px 2px 2px;height: 25px;">
                    <option value="5">每页 5 条</option>
                    <option value="10">每页 10 条</option>
                    <option value="20">每页 20 条</option>
                    <option value="30">每页 30 条</option>
                  </select>
                  <ul class="inline grid-foot">
                    <li><a class="btn btn-xs btn-default previous disable" ng-click="$grid.previous()" href="javascript:;">&lt;</a></li>
                    <li><a class="btn btn-xs btn-default first active" ng-click="$grid.first()" href="javascript:;">1</a></li>
                    <li><a class="btn btn-xs btn-default more" ng-click="$grid.morePrevious($event)" href="javascript:;">...</a></li>
                    <li><a class="btn btn-xs btn-default page" ng-click="$grid.go($event)" href="javascript:;">4</a></li>
                    <li><a class="btn btn-xs btn-default page" ng-click="$grid.go($event)" href="javascript:;">5</a></li>
                    <li><a class="btn btn-xs btn-default page" ng-click="$grid.go($event)" href="javascript:;">6</a></li>
                    <li><a class="btn btn-xs btn-default page" ng-click="$grid.go($event)" href="javascript:;">7</a></li>
                    <li><a class="btn btn-xs btn-default more" ng-click="$grid.moreNext()" href="javascript:;">...</a></li>
                    <li><a class="btn btn-xs btn-default last" ng-click="$grid.last()" href="javascript:;">20</a></li>
                    <li><a class="btn btn-xs btn-default next" ng-click="$grid.next()" href="javascript:;">&gt;</a></li>
                  </ul>
                </div>
              </td>
            </tr>
            </tfoot>
          </table>
        </div>
      </div>
    
    </div>
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="authPanel" tabindex="-1" rolePo="dialog">
    <div class="modal-dialog modal-lg" rolePo="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">角色授权</h4>
        </div>
        <div class="modal-body p-t-lg">
          <h1 class="h5 m-t-none m-b">角色权限列表</h1>
          <div class="row">
            <div class="col-xs-6">
              <div class="col">
                <input ng-model="keyword" class="form-control input-sm inline w-sm m-r" type="text">
                <a href="javascript:;" ng-click="auth()" class="btn btn-primary">搜索已授权</a>
              </div>
              <div class="col">
                <input id="authAll" type="checkbox"> <label for="authAll">全选</label>
              </div>
              <div ui-jq="jstree" ui-options="authTreeOption" id="authTree" class="">
              </div>
            </div>
            
            <div class="col-xs-6">
              <div class="col">
                <input ng-model="allKeyword" class="form-control input-sm inline w-sm m-r" type="text">
                <a href="javascript:;" ng-click="auth()" class="btn btn-primary">搜索未授权</a>
              </div>
              <div class="col">
                <input id="notAuthAll" type="checkbox"> <label for="notAuthAll">全选</label>
              </div>
              <div style="min-height: 300px;" ui-jq="jstree" ui-options="treeOption" id="notAuthTree" class="">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" ng-click="auth.add()" class="btn btn-primary">left</button>
            <button type="button" ng-click="auth.remove()" class="btn btn-primary">right</button>
            <button type="button" id="authCancel" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" ng-click="auth.save()" class="btn btn-primary">保存修改</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
