<div class="content-body animated fadeInUp" ng-controller="SysUserAddCtrl">
  <div class="wrapper-sm p-l-sm p-r-sm p-b-n">
    <ol class="breadcrumb row text-xs m-b-xs">
      <span><i class="fa fa-circle-o p-r-xs"></i>当前位置：</span>
      <li>系统管理</li>
      <li><a ui-sref="app.sys.user">用户管理</a></li>
      <li>用户添加</li>
    </ol>
  </div>
  <div class="panel panel-default wrapper-md">
    <div class="panel-heading">
      <h1 class="h3">用户添加</h1>
    </div>
    <div class="panel-body">
      <form class="form-horizontal" name="form" ng-submit="submit()" method="post">

        <div class="line line-dashed b-b line-lg pull-in"></div>

        <div class="form-group"
             ng-class="{'has-error':form.username.$invalid && form.username.$touched||form.username.$error.remoteCheckReject}">
          <label class="col-sm-2 control-label">用户名</label>
          <div class="col-sm-10">
            <p class="form-control-static">
              <input name="username" remote-check="sys/auths" ng-minlength="2" ng-maxlength="32" required
                     type="text" class="form-control" ng-model="user.username">
              <span ng-show="form.username.$pending.remoteCheckReject">正在加载中...</span>
              <span class="error" ng-show="form.username.$error.remoteCheckReject">已经被占用</span>
            </p>
          </div>
        </div>

        <div class="line line-dashed b-b line-lg pull-in"></div>

        <div class="form-group">
          <label class="col-sm-2 control-label">类型</label>
          <div class="col-sm-10">
            <select ui-jq="chosen" multiple class="form-control" ui-options="{width:'100%'}">
              <option value="AK">管理员</option>
              <option value="HI">巡查员</option>
              <option value="CA">水电费</option>
              <option value="NV">Nevada</option>
              <option value="OR">Oregon</option>
              <option value="WA">Washington</option>
              <option value="WA">Washington</option>
              <option value="WA">Washington</option>
              <option value="WA">Washington</option>
              <option value="WA">Washington</option>
            </select>
          </div>
        </div>

        <div class="line line-dashed b-b line-lg pull-in"></div>

        <div class="form-group">
          <label class="col-sm-2 control-label">所属部门</label>
          <div class="col-sm-10">
            <p class="form-control-static">
              <!--<input type="text" class="form-control" ng-model="department">-->
              <select id="department" ui-jq="chosen" class="form-control" ui-options="depOpt">
                <optgroup label="Alaskan/Hawaiian Time Zone">
                  <option value="AK">Alaska</option>
                  <option value="HI">Hawaii</option>
                </optgroup>
                <optgroup label="Pacific Time Zone">
                  <option value="CA">California</option>
                  <option value="NV">Nevada</option>
                  <option value="OR">Oregon</option>
                  <option value="WA">Washington</option>
                </optgroup>
                <optgroup label="Mountain Time Zone">
                  <option value="AZ">Arizona</option>
                  <option value="CO">Colorado</option>
                  <option value="ID">Idaho</option>
                  <option value="MT">Montana</option><option value="NE">Nebraska</option>
                  <option value="NM">New Mexico</option>
                  <option value="ND">North Dakota</option>
                  <option value="UT">Utah</option>
                  <option value="WY">Wyoming</option>
                </optgroup>
                <optgroup label="Central Time Zone">
                  <option value="AL">Alabama</option>
                  <option value="AR">Arkansas</option>
                  <option value="IL">Illinois</option>
                  <option value="IA">Iowa</option>
                  <option value="KS">Kansas</option>
                  <option value="KY">Kentucky</option>
                  <option value="LA">Louisiana</option>
                  <option value="MN">Minnesota</option>
                  <option value="MS">Mississippi</option>
                  <option value="MO">Missouri</option>
                  <option value="OK">Oklahoma</option>
                  <option value="SD">South Dakota</option>
                  <option value="TX">Texas</option>
                  <option value="TN">Tennessee</option>
                  <option value="WI">Wisconsin</option>
                </optgroup>
                <optgroup label="Eastern Time Zone">
                  <option value="CT">Connecticut</option>
                  <option value="DE">Delaware</option>
                  <option value="FL">Florida</option>
                  <option value="GA">Georgia</option>
                  <option value="IN">Indiana</option>
                  <option value="ME">Maine</option>
                  <option value="MD">Maryland</option>
                  <option value="MA">Massachusetts</option>
                  <option value="MI">Michigan</option>
                  <option value="NH">New Hampshire</option><option value="NJ">New Jersey</option>
                  <option value="NY">New York</option>
                  <option value="NC">North Carolina</option>
                  <option value="OH">Ohio</option>
                  <option value="PA">Pennsylvania</option><option value="RI">Rhode Island</option><option value="SC">South Carolina</option>
                  <option value="VT">Vermont</option><option value="VA">Virginia</option>
                  <option value="WV">West Virginia</option>
                </optgroup>
              </select>
            </p>
          </div>
        </div>

        <div class="line line-dashed b-b line-lg pull-in"></div>

        <div class="form-group">
          <label class="col-sm-2 control-label">所属部门</label>
          <div class="col-sm-10">
            <p class="form-control-static">

              <ui-select ng-model="person.selected" theme="bootstrap" ng-disabled="disabled" style="min-width: 300px;">
                <ui-select-match placeholder="Select a person in the list or search his name/age...">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices group-by="'country'" repeat="person in people | propsFilter: {name: $select.search, age: $select.search}">
                  <div ng-bind-html="person.name | highlight: $select.search"></div>
                  <small>
                    email: {{person.email}}
                    age: <span ng-bind-html="''+person.age | highlight: $select.search"></span>
                  </small>
                </ui-select-choices>
              </ui-select>

            </p>
          </div>
        </div>

        <div class="line line-dashed b-b line-lg pull-in"></div>

        <div class="form-group">
          <label class="col-sm-2 control-label">所属部门</label>
          <div class="col-sm-10">
            <p class="form-control-static">

              <ui-select ng-model="person.selected">
                <ui-select-match placeholder="呵呵打多大的">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="item in people | filter: $select.search">
                  <div ng-bind-html="item.name | highlight: $select.search"></div>
                  <small ng-bind-html="item.email | highlight: $select.search"></small>
                </ui-select-choices>
              </ui-select>


              <ui-select ng-model="sel" ng-change="depLoad()">
                <ui-select-match  placeholder="去试试">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="item in people | filter: $select.search">
                  <span ng-bind="item.name"></span>
                </ui-select-choices>
              </ui-select>
            </p>
          </div>
        </div>

        <div class="line line-dashed b-b line-lg pull-in"></div>

        <div class="form-group">
          <label class="col-sm-2 control-label">登录密码</label>
          <div class="col-sm-10">
            <p class="form-control-static">
              <input name="password" type="text" class="form-control" ng-model="user.password">
            </p>
          </div>
        </div>

        <div class="line line-dashed b-b line-lg pull-in"></div>

        <div class="form-group">
          <label class="col-sm-2 control-label">确认密码</label>
          <div class="col-sm-10">
            <p class="form-control-static">
              <input name="repassword" ng-model="repassword" compare="user.password" type="text" class="form-control">
              <span class="error" ng-show="form.repassword.$error.compare && form.repassword.$viewValue">两次输入不一致</span>
            </p>
          </div>
        </div>

        <div class="line line-dashed b-b line-lg pull-in"></div>

        <div class="form-group">
          <label class="col-sm-2 control-label">真实姓名</label>
          <div class="col-sm-10">
            <p class="form-control-static">
              <input type="text" class="form-control" ng-model="user.realName">
            </p>
          </div>
        </div>

        <div class="line line-dashed b-b line-lg pull-in"></div>

        <div class="form-group">
          <label class="col-sm-2 control-label">手机</label>
          <div class="col-sm-10">
            <p class="form-control-static">
              <input type="text" class="form-control" ng-model="user.realName">
            </p>
          </div>
        </div>

        <div class="line line-dashed b-b line-lg pull-in"></div>

        <div class="form-group">
          <label class="col-sm-2 control-label">E-mail</label>
          <div class="col-sm-10">
            <p class="form-control-static">
              <input type="text" class="form-control" ng-model="user.realName">
            </p>
          </div>
        </div>

        <div class="line line-dashed b-b line-lg pull-in"></div>

        <div class="form-group">
          <label class="col-sm-2 control-label">电话</label>
          <div class="col-sm-10">
            <p class="form-control-static">
              <input type="text" class="form-control" ng-model="user.realName">
            </p>
          </div>
        </div>

        <div class="line line-dashed b-b line-lg pull-in"></div>

        <div class="form-group">
          <label class="col-sm-2 control-label">QQ</label>
          <div class="col-sm-10">
            <p class="form-control-static">
              <input type="text" class="form-control" ng-model="user.realName">
            </p>
          </div>
        </div>

        <div class="line line-dashed b-b line-lg pull-in"></div>

        <div class="form-group">
          <div class="col-sm-4 col-sm-offset-2">
            <label class="checkbox-inline">
              <input type="checkbox" value="option1"> 启用
            </label>
          </div>
        </div>

        <div class="line line-dashed b-b line-lg pull-in"></div>

        <div class="form-group">
          <div class="col-sm-4 col-sm-offset-2">
            <a ui-sref="app.sys.user" class="btn btn-default">取消</a>
            <input type="submit" ng-disabled="form.$invalid || form.$submitted" class="m-l-xs btn btn-primary"
                   value="保存"/>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>