@charset "UTF-8";
/* line 50, ../scss/app.navicon.scss */
.nav-icon {
  position: absolute;
  width: 50px;
  height: 50px;
}
/* line 55, ../scss/app.navicon.scss */
.nav-icon .nav-top, .nav-icon .nav-middle, .nav-icon .nav-bottom {
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: black;
  left: 11.5px;
  -moz-transition: all ease-in-out 0.2s;
  /* Firefox 4 */
  -webkit-transition: all ease-in-out 0.2s;
  /* Safari 和 Chrome */
  -o-transition: all ease-in-out 0.2s;
  /* Opera */
  transition: all ease-in-out 0.2s;
}
/* line 64, ../scss/app.navicon.scss */
.nav-icon .nav-top, .nav-icon .nav-bottom {
  -webkit-transform-origin: 0 1px;
  -ms-transform-origin: 0 1px;
  transform-origin: 0 1px;
}
/* line 67, ../scss/app.navicon.scss */
.nav-icon .nav-top {
  top: 15px;
}
/* line 70, ../scss/app.navicon.scss */
.nav-icon .nav-middle {
  top: 24px;
}
/* line 73, ../scss/app.navicon.scss */
.nav-icon .nav-bottom {
  top: 33px;
}
/* line 77, ../scss/app.navicon.scss */
.nav-icon.nav-icon-left .nav-top {
  -ms-transform: rotate(-21.5deg);
  -moz-transform: rotate(-21.5deg);
  -webkit-transform: rotate(-21.5deg);
  -o-transform: rotate(-21.5deg);
  transform: rotate(-21.5deg);
}
/* line 80, ../scss/app.navicon.scss */
.nav-icon.nav-icon-left .nav-middle {
  opacity: 0;
}
/* line 83, ../scss/app.navicon.scss */
.nav-icon.nav-icon-left .nav-bottom {
  -ms-transform: rotate(21.5deg);
  -moz-transform: rotate(21.5deg);
  -webkit-transform: rotate(21.5deg);
  -o-transform: rotate(21.5deg);
  transform: rotate(21.5deg);
}
/* line 86, ../scss/app.navicon.scss */
.nav-icon.nav-icon-left .nav-top, .nav-icon.nav-icon-left .nav-bottom {
  -webkit-transform-origin: 25px 1px;
  -ms-transform-origin: 25px 1px;
  transform-origin: 25px 1px;
}
/* line 91, ../scss/app.navicon.scss */
.nav-icon.nav-icon-right .nav-top {
  -ms-transform: rotate(21.5deg);
  -moz-transform: rotate(21.5deg);
  -webkit-transform: rotate(21.5deg);
  -o-transform: rotate(21.5deg);
  transform: rotate(21.5deg);
}
/* line 94, ../scss/app.navicon.scss */
.nav-icon.nav-icon-right .nav-middle {
  opacity: 0;
}
/* line 97, ../scss/app.navicon.scss */
.nav-icon.nav-icon-right .nav-bottom {
  -ms-transform: rotate(-21.5deg);
  -moz-transform: rotate(-21.5deg);
  -webkit-transform: rotate(-21.5deg);
  -o-transform: rotate(-21.5deg);
  transform: rotate(-21.5deg);
}
/* line 102, ../scss/app.navicon.scss */
.nav-icon.nav-icon-close .nav-top {
  -ms-transform: rotate(38deg);
  -moz-transform: rotate(38deg);
  -webkit-transform: rotate(38deg);
  -o-transform: rotate(38deg);
  transform: rotate(38deg);
  width: 30px;
}
/* line 106, ../scss/app.navicon.scss */
.nav-icon.nav-icon-close .nav-middle {
  opacity: 0;
}
/* line 109, ../scss/app.navicon.scss */
.nav-icon.nav-icon-close .nav-bottom {
  -ms-transform: rotate(-38deg);
  -moz-transform: rotate(-38deg);
  -webkit-transform: rotate(-38deg);
  -o-transform: rotate(-38deg);
  transform: rotate(-38deg);
  width: 30px;
}

/* line 116, ../scss/app.navicon.scss */
.nav-expand {
  position: absolute;
  height: 50px;
  width: 50px;
  -webkit-transform-origin: 8.85px 1px;
  -ms-transform-origin: 8.85px 1px;
  transform-origin: 8.85px 1px;
}
/* line 121, ../scss/app.navicon.scss */
.nav-expand .nav-expand-top, .nav-expand .nav-expand-bottom {
  width: 17.7px;
  height: 2px;
  position: absolute;
  background-color: black;
  top: 25px;
  -moz-transition: all ease-in-out 0.2s;
  /* Firefox 4 */
  -webkit-transition: all ease-in-out 0.2s;
  /* Safari 和 Chrome */
  -o-transition: all ease-in-out 0.2s;
  /* Opera */
  transition: all ease-in-out 0.2s;
}
/* line 129, ../scss/app.navicon.scss */
.nav-expand .nav-expand-top {
  left: 9.7px;
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 133, ../scss/app.navicon.scss */
.nav-expand .nav-expand-bottom {
  left: 22.5px;
  -ms-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 139, ../scss/app.navicon.scss */
.nav-expand.nav-expand-up .nav-expand-top {
  -ms-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 142, ../scss/app.navicon.scss */
.nav-expand.nav-expand-up .nav-expand-bottom {
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*# sourceMappingURL=app.navicon.css.map */
