<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.tj123.frame.service.mapper.SAreaMapper">

  <select id="list" resultType="java.util.Map" >
    select
      area_id areaId,
      parent_id parentId,
      name,
      level_,
      order_,
      is_capital isCapital,
      is_gov isGov,
      map_point mapPoint,
      full_name fullName
    from s_area
    where instr(area_id,#{areaId})
  </select>

  <select id="get" resultType="java.util.Map" >
    select
      area_id areaId,
      parent_id parentId,
      name,
      level_,
      order_,
      is_capital isCapital,
      is_gov isGov,
      map_point mapPoint,
      full_name fullName
    from s_area where area_id = #{id}
  </select>
  
  <select id="areas" resultType="java.util.Map">
    select area_id areaId,parent_id parentId,`name` from s_area
    <if test="areaId != null and areaId !=''">
      where instr(area_id,#{areaId})
    </if>
  </select>

</mapper>
