<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.tj123.frame.service.mapper.SDepMapper">

  <select id="list" resultType="java.util.Map" >
    select
      id,
      `name`,
      `type`,
      area_id areaId,
      short_name shortName,
      create_by_id createById,
      update_by_id updateById,
      create_time createTime,
      update_time updateTime
    from s_dep
    where instr(area_id,#{areaId})
  </select>
  
  <select id="search" resultType="java.util.Map">
    select id,`name` from s_dep where instr(`name`,#{name}) limit 50
  </select>
  
  <select id="get" resultType="java.util.Map">
    select
      id,
      `name`,
      `type`,
      area_id areaId,
      short_name shortName,
      create_by_id createById,
      update_by_id updateById,
      create_time createTime,
      update_time updateTime
    from s_dep where
    id = #{id}
  </select>

</mapper>
