<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.tj123.frame.service.mapper.SDepMapper">

  <select id="list" resultType="java.util.Map" >
    select
      id,
      d.`name`,
      `type`,
      d.area_id areaId,
			a.`name` areaName,
      short_name shortName
    from s_dep d
		left join s_area a
		on d.area_id = a.area_id
    where instr(d.area_id,#{areaId})
  </select>
  
  <select id="search" resultType="java.util.Map">
    select id,`name` from s_dep where instr(`name`,#{name}) limit 50
  </select>
  
  <select id="get" resultType="java.util.Map">
    SELECT
      d.id,
      d.`name`,
      d.`type`,
      area_id areaId,
      short_name shortName,
      group_concat(r.role_id) roles
    FROM
      s_dep d
    LEFT JOIN s_dep_role r ON d.id = r.dep_id
    WHERE
      d.id = #{id}
  </select>

</mapper>
