<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.tj123.frame.service.mapper.SDepRoleMapper">

  <select id="list" resultType="java.util.Map" >
    select
      id,
      dep_id depId,
      role_id roleId
    from s_dep_role
  </select>

  <select id="get" resultType="java.util.Map" >
    select
      id,
      dep_id depId,
      role_id roleId
    from s_dep_role where id = #{id}
  </select>

</mapper>
