<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.tj123.frame.service.mapper.SUserMapper">
  
  <select id="list" resultType="java.util.Map">
    select u.id,u.`name`,u.username,d.`name` depName
    from s_user u
    left join s_dep d on u.dep_id = d.id
    where instr(d.area_id ,#{areaId})
  </select>
  
  <select id="get" resultType="java.util.Map">
    select u.id, username, sex, qq, email, dep_id depId, tel, phone, `name`, id_no idNo, `comment`, group_concat(r.role_id) roles
    from s_user u
    left join s_user_role r on u.id = r.user_id
    where u.id = #{id}
  </select>
  
  
  <select id="selectUser" resultType="java.util.Map">
      SELECT id,`password` FROM `s_user` where username = #{userName} limit 1
  </select>
  
  <!-- 调试 所用权限向用户展示 -->
  <select id="auth" resultType="java.util.Map">
      select uid "id",key_ "key" from s_func
  </select>
  
  <select id="isExistUsername" resultType="java.lang.Integer">
    select count(1) from s_user where username = #{username}
  </select>

  <select id="session" resultType="java.util.Map">
    select
      u.username,
      u.`name`,
      u.dep_id depId,
      d.`name` depName,
      d.area_id areaId,
      a.parent_id parentAreaId,
      d.type depType,
      a.`name` areaName
     from s_user u
    left join s_dep d on u.dep_id = d.id
    left join s_area a on d.area_id = a.area_id
    where u.id = #{userId}
  </select>

</mapper>
