<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.tj123.frame.service.mapper.UserMapper">
  
  
  <select id="selectUser" resultType="java.util.Map">
    SELECT id,`password` FROM `s_user` where username = #{userName} limit 1
  </select>
  
  <!-- 调试 所用权限向用户展示 -->
  <select id="auth" resultType="java.util.Map">
    select uid "id",key_ "key" from s_func
  </select>


</mapper>