<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shundian.frame.mapper.sys.FunctionModuleMapper">

  <!--<cache-->
      <!--eviction="FIFO"-->
      <!--flushInterval="60000"-->
      <!--size="1024"-->
      <!--readOnly="true"/>-->

  <update id="updateModule" parameterType="com.shundian.frame.api.po.sys.FunctionModulePo">
        update tsys_function_module set name = #{name},key_ = #{key},uid = #{uid} where function_id = #{functonId} and class = #{clazz}
    </update>

  <select id="selectDuplicate" resultType="integer" parameterType="com.shundian.frame.api.po.sys.FunctionModulePo"
          useCache="false">
        select count(1) from tsys_function_module where uid = #{uid} and class != #{clazz}
    </select>


  <!-- 嵌套查询 -->
  <sql id="searchModule">
    select f.id,f.parent_id,f.name,m.id m_id,m.name m_name from tsys_function f
    left join tsys_function_module m on
    m.function_id = f.id where 1 = 1
  </sql>

  <!--suppress MybatisMapperXmlInspection -->
  <select id="selectChildModule" parameterType="string" resultMap="searchFunction" useCache="true">
    <include refid="searchModule"></include>
    and parent_id = #{id} order by order_ asc
  </select>

  <resultMap id="searchFunction" type="com.shundian.frame.api.entity.sys.SearchFunction">
    <id property="id" column="id"></id>
    <result property="parentId" column="parent_id"></result>
    <result property="name" column="name"></result>
    <collection property="children"
                javaType="java.util.ArrayList"
                column="id"
                ofType="com.shundian.frame.api.entity.sys.SearchFunction"
                select="selectChildModule">
    </collection>
    <collection property="modules" resultMap="moduleResult"></collection>
  </resultMap>

  <resultMap id="moduleResult" type="com.shundian.frame.api.entity.sys.SearchFunctionModule">
    <id property="id" column="m_id"></id>
    <result property="name" column="m_name"></result>
  </resultMap>

  <select id="listAll" resultMap="searchFunction" useCache="true">
    <include refid="searchModule"></include>
    and (parent_id is null or trim(parent_id) = '')
    <if test="name != null and name.trim() != ''">
      and f.name like concat('%',#{name},'%')
    </if>
    order by order_ asc
  </select>

  <select id="listModules" resultType="java.lang.String" useCache="false">
    select fm.id from tsys_role_function_module rfm
    left join tsys_function_module fm
    on rfm.function_module_id = fm.id
    left join tsys_function f on fm.function_id = f.id
    where rfm.role_id = #{role}
    <if test="name != null and name.trim() != ''">
      and f.name like concat('%',#{name},'%')
    </if>
  </select>


</mapper>