<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shundian.frame.mapper.sys.FunctionMapper">

    <update id="updateFunction" parameterType="com.shundian.frame.model.sys.Function" >
        update tsys_function set name = #{name} , ui_sref = #{uiSref} where class = #{clazz}
    </update>

    <select id="selectDuplicate" resultType="integer" parameterType="com.shundian.frame.model.sys.Function">
        select count(1) from tsys_function where `class` = #{clazz} and `uid` = #{uid} and `name` != #{name}
    </select>

</mapper>