<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shundian.frame.mapper.sys.UserMapper">

  <select id="list" resultType="java.util.Map">
    select id,username,type,status,department_id,real_name "realName",mobile,email,qq from tsys_user
  </select>

  <select id="selectUserId" resultType="java.util.Map">
    select id,password from tsys_user where username = #{username} limit 1
  </select>

  <resultMap id="miniFunction" type="com.shundian.lib.function.MiniFunction">
    <id property="id" column="id"></id>
    <collection property="modules" ofType="short">
      <id column="m_id"></id>
    </collection>
  </resultMap>


  <select id="getFunctions" resultMap="miniFunction">
    select f.uid id,fm.uid m_id from tsys_user_role ur
      left join tsys_role_function_module rfm on ur.role_id = rfm.role_id
      left join tsys_function_module fm on fm.id = rfm.function_module_id
      left join tsys_function f on f.id = fm.function_id
    where ur.user_id = #{userId}
    and f.is_show = 1
  </select>


</mapper>